# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

tmp

# IDEA coverage report dir
htmlReport

# The strcalc/main/frontend project will write files to strcalc/src/main/webapp
# for the War plugin to package into strcalc/build/libs/strcalc.war.
strcalc/src/main/webapp

node_modules
