{{!--
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.

  This is an example of a Handlebars template that invokes a partial template
  via '{{>'. See: https://handlebarsjs.com/guide/partials.html#basic-partials
--}}
<h1 class="title">{{> message-link }}</h1>
<p class="introduction">
  This <a href="https://github.com/mbland/tomcat-servlet-testing-example">Tomcat
  servlet testing example</a> incorporates the
  <a href="https://osherove.com/tdd-kata-1">String Calculator kata</a> to
  demonstrate Test-Driven Development in the context of a
  <a href="https://mike-bland.com/2023/08/31/the-test-pyramid-and-the-chain-reaction.html">Test
  Pyramid</a>-based testing strategy.
</p>
<hr/>
